In [1]:
import pandas as pd

pd.set_option('display.max_column', None)

sample_submission = pd.read_csv('./sample_submission.csv')
test = pd.read_csv('./test.csv')
train = pd.read_csv('./train.csv')
data = pd.concat([test, train])

# Context

In [2]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,100000,3,"Holliday, Daniel",male,19.0,0,0,24745,63.01,NaN,S
1,100001,3,"Nguyen, Lorraine",female,53.0,0,0,13264,5.81,NaN,S
2,100002,1,"Harris, Heather",female,19.0,0,0,25990,38.91,B15315,C
3,100003,2,"Larsen, Eric",male,25.0,0,0,314011,12.93,NaN,S
4,100004,1,"Cleary, Sarah",female,17.0,0,2,26203,26.89,B22515,C

# Data quality assessment

## The first look on the train data

We can see that
 - both `test` and `train` datasets have the same rows, i.e. 100000 rows;
 - there are 12 columns in the the `test` dataset and 11 columns in the `train` dataset;
 - the variable `Survived` is in the `train` dataset and is not in the `test` dataset;
 - the number of missing values in the `train` dataset equals to 76165;
 - the number of missing values in the `test` dataset equals to 79909;
 - the variables with missing values (for both `train` and `test` datasets) are `Age`, `Ticket`, `Fare`, `Cabin` and `Embarked`;

In [3]:
print('Rows and Columns in the train dataset:', train.shape)
print('Rows and Columns in the test dataset:', test.shape, '\n')

print(train.info(), '\n')
print(test.info(), '\n')

print('Missing values in train dataset:', sum(train.isnull().sum()))
print('Missing values in test dataset:', sum(test.isnull().sum()))

Rows and Columns in the train dataset: (100000, 12)
Rows and Columns in the test dataset: (100000, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   PassengerId  100000 non-null  int64
 1   Survived     100000 non-null  int64
 2   Pclass       100000 non-null  int64
 3   Name         100000 non-null  object
 4   Sex          100000 non-null  object
 5   Age          96708 non-null   float64
 6   SibSp        100000 non-null  int64
 7   Parch        100000 non-null  int64
 8   Ticket       95377 non-null   object
 9   Fare         99866 non-null   float64
 10  Cabin        32134 non-null   object
 11  Embarked     99750 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 9.2+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   PassengerId  100000 non-null  int64
 1   Pclass       100000 non-null  int64
 2   Name         100000 non-null  object
 3   Sex          100000 non-null  object
 4   Age          96513 non-null   float64
 5   SibSp        100000 non-null  int64
 6   Parch        100000 non-null  int64
 7   Ticket       94819 non-null   object
 8   Fare         99867 non-null   float64
 9   Cabin        29169 non-null   object
 10  Embarked     99723 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 8.4+ MB
None

Missing values in train dataset: 76165
Missing values in test dataset: 79909

# Data exploration

# Summary